.backoffice__users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100% ;
}

.backoffice__users__topStats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

/* Each stats block */
.backoffice__users__topStats div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 12px;
  background-color: var(--secondary);
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.backoffice__users__topStats p:first-child {
  font-size: 0.7rem;
  font-weight: 400;
}

.backoffice__users__content {
  border-radius: 12px;
  background-color: var(--secondary);
  flex: 1;
  padding: 1rem 1.5rem;
}