.container {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  position: relative;
}

.chevronWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.chevronButton {
  background: none;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.button {
  background-color: var(--secondary);
  font-family: inherit;
  padding: 0.3rem 0.4rem;
  border: 0;
  outline: 0;
}

.activeButton {
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  transition-duration: 300ms;
}

.icon {
  width: 20px;
  height: 20px;
}

.button:hover, .chevronButton:hover {
  cursor: pointer;
}

.bottomTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 1rem);
  color: var(--grey);
  font-size: 0.6rem;
}

.bottomText {
  width: fit-content;
  white-space: nowrap;
}

.pageSelect {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(109, 109, 109);
  color: rgb(109, 109, 109);
  font-size: 0.6rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.7rem;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  margin: 0 0.2rem;
}