.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imageIcon {
  width: 25px;
  height: 25px;
}

.currentProductImagesWrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 0.5rem;
}

.currentProductImagesWrapper > label, 
.currentProductImagesWrapper > div {
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 200px;
}

.newProductImagesWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.newProductImagesTitle {
  font-weight: 500;
}

.newProductImageRow {
  font-size: 0.8rem;
  background-color: var(--light-grey);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
}

.newProductImageRowIcon {
  width: 20px;
  height: 20px;
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}

/* Hover effects */
.newProductImageRow:hover .newProductImageRowIcon {
  visibility: visible;
  opacity: 1;
}