.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

.topStats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

/* Each stats block */
.topStats div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  border-radius: 12px;
  background-color: var(--secondary);
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  background: var(--secondary); 
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

.topStats p:first-child {
  font-size: 0.7rem;
  font-weight: 400;
}

/* Main content */
.mainContent {
  border-radius: 12px;
  padding: 1rem 1.5rem;
  overflow: scroll;
  z-index: 100;
  height: 100%;
  background: var(--secondary);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.41);
  overflow: hidden;

}