.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  min-height: 100%;
}

.topStats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

/* Each stats block */
.topStats div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 12px;
  background-color: var(--secondary);
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

.topStats p:first-child {
  font-size: 0.7rem;
  font-weight: 400;
}

/* Main content */
.mainContent {
  border-radius: 12px;
  background-color: var(--secondary);
  padding: 1rem 1.5rem;
  overflow: scroll;
  z-index: 100;
  height: auto;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.41);
}


/* ------------- Actions bar ------------- */
.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
}

/* Actions bar LEFT div */
.actionBar div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.actionBar p {
  font-size: 1.2rem;
  font-weight: 500;
}

.customSearchInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
}

.actionBar input[type="text"] {
  outline: 0;
  border: 0;
  background-color: var(--secondary);
}

.actionBar input[type="text"]:focus {
  border: 0;
  outline: 0;
}

.actionBarIcon {
  width: 1.3rem;
  height: 1.3rem;
}