.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table thead {
  border-bottom: 2px solid rgba(150, 150, 150, 0.7);
}

.table th {
  padding: 1rem 0;
  font-weight: 500;
  font-size: 0.9rem;
  width: fit-content;
  text-align: left;
}

.table th p span::first-letter {
  text-transform: uppercase;
}

.table th:hover {
  cursor: pointer;
}

.table th p {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.headerIcon {
  width: 20px;
  height: 20px;
}

.table td {
  padding: 0.8rem 0;
  border-top: 1px solid rgba(150, 150, 150, 0.3);
  font-size: 0.7rem;
  font-weight: 400;
  text-align: left;
}

.table td:first-child {
  min-width: 30px;
}

.tableIcon {
  width: 30px;
  height: 30px; 
}

.tableIcon:hover {
  cursor: pointer;
}

/* Table body empty */
.emptyTextRow td {
  height: 16rem;
  text-align: center;
  font-size: 1.1rem;
}

/* Input text */
.input {
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 8px;
  outline: 0;
  background-color: var(--secondary);
}

.input:focus {
  border: 1px solid black;
}

/* Checkbox item */
.checkboxItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  transition-duration: 1s;
}

.checkboxItem input {
  display: none;
}

.checkboxItem label {
  height: 28px;
  width: 28px;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  transition-duration: 200ms;
  padding: 0.1rem;
}

.checked {
  background-color: black;
  color: white;
}

.icon {
  color: white;
  padding: 0 0 0.1rem 0;
}