.banner {
  height: 100vh;
  width: 100vw;
  margin-bottom: 20vh;
  position: relative;
  display: block ;
}

.bannerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 14px;
  text-align: center;
  width: fit-content;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.anchorButton {
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1rem;
  background: none;
  animation-name: ping;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .icon {
    width: 20px;
    height: 20px;
  }
}

.anchorButton:hover {
  cursor: pointer;
}

.belowBanner {
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: none; */
}

@keyframes ping {
  0% {
    outline: 1px solid transparent;
    outline-offset: 0;
  }

  50% {
    outline: 1px solid white;
    outline-offset: 0.5rem;
  }

  100% {
    outline: 1px solid transparent;
    outline-offset: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    height: 35vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 10vh;
  }

  .bannerImage {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .bannerTitle {
    font-size: 1.3rem;
  }

  .anchorButton {
    display: none;
  }
}