.cartProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  padding: 1rem 0.6rem;

  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.41);
  transition-duration: 400ms;
}


/* -------------- Cart product image --------------- */
.cartProductImageContainer {
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
  position: relative; 
}

.cartProductImage {
  object-fit: cover;
}


/* -------------- Cart product infos --------------- */
.cartProductInfo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.cartProductInfoNameWrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.cartProductInfoName {
  font-size: 1.3rem;
  font-weight: 500;
}

.cartProductInfoDescriptionWrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  font-size: 0.7rem;
  text-align: justify;
}
.unityPrice{
  font-size: 0.7rem;
  margin-top: -1rem;
  color: #6d6d6d;
}

/* -------------- Cart product right part --------------- */
.cartProductControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 10%;
}

.cartProductSelectQuantity {
  position: relative;
  font-size: 0.65rem;
  color: #0F1111;
  font-weight: bolder;
}

.cartProductContentSelect{
  gap: 0.25rem;
  padding: 0.25vw 0.25vw 0.25vw 0.4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #919191 solid 0.01em;
  border-radius: 0.25vw;
  background: #F0F2F2;
  box-shadow: 0 2px 5px rgba(15,17,17,.15);
}

.cartProductQuantityValues{
   font-size: 0.7rem;
   margin-left: 0.2rem;
}

.cartProductSelectQuantity svg{
  width: 0.65vw; height: 0.65vw;
  transform: scale(1.2);
  stroke: rgb(145, 145, 145);
}
.cartProductSelect{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cartProductSelect option{
  color: #0F1111;
  margin-left: 1%;
  font-size: 0.7rem;
}
.cartProductInputContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartProductInputValues{
  outline: none;
  color: #0F1111;
  width: 4vw;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 0.25vw;
  letter-spacing: 0.07em;
  font-weight: bolder;
  font-size: 0.65rem;
  border: #919191 solid 0.01em;
  background: #F0F2F2;
  box-shadow: 0 2px 5px rgba(15,17,17,.15);
  -moz-appearance: textfield;
}
.cartProductInputValues::-webkit-inner-spin-button,
.cartProductInputValues::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.cartProductInputContent button{
  margin-top: 0.5rem;
  border: none;
  background: none;
  font-size: 0.65rem;
  padding: 0;
  color: #5c5c5c;
}
.cartProductInputContent button:hover{
  cursor: pointer;
  color: black;
}

.cartProductControlIcon {
  width: 30px;
  transition-duration: 300ms;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

.cartProductControlIcon:hover {
  filter: invert(1);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .cartProduct {
    padding: 1.2rem;
    gap: 0rem;
    justify-content: space-between;
  }

  .cartProductImageContainer {
    aspect-ratio: 1/1;
    max-width: 30%;
    flex: 1 1 0;
  }

  .cartProductInfo {
    height: 100%;
    gap: 0.8rem;
    max-width: 35%;
    align-self: flex-start;
    flex: 1;
  }

  .cartProductInfoName {
    font-size: 1.2rem;
  }
 
  .cartProductInfoDescriptionWrapper {
    text-align: left;
    font-size: 0.9rem;
  }

  .cartProductControls {
    gap: 1.5rem;
    max-width: 25%;
    flex: 1;
  }

  .cartProductControlsQuantity {
    gap: 0.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .cartProduct {
    padding: 0.6rem;
  }

  .cartProductInfoName {
    font-size: 1rem;
  }

  .cartProductInfoDescriptionWrapper {
    text-align: left;
    font-size: 0.7rem;
  }

  .cartProductControls {
    gap: 0.5rem;
  }
}