/* ------------ Gray overlay ---------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  transition-duration: 800ms;
  overflow: scroll;
  overscroll-behavior: contain;
}

.overlayInactive {
  opacity: 0;
  width: 81%;
  transition-duration: 100ms;
  z-index: -1;
}

.overlayActive {
  opacity: 1;
  width: 80%;
  transition-delay: 300ms;
}

/* ----------- Drawer menu --------- */
.drawerMenu {
  height: 100%;
  width: 20%;
  position: relative;
  position: fixed;
  top: 0;
  right:-20vw;
  z-index: 9999;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 0.5rem; 
  transition-duration: 500ms;
  overflow: scroll;
  overscroll-behavior: contain;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.07);
}

.drawerMenuActive {
  transform: translateX(-100%);
}

.drawerMenuInactive {
  transform: translateX(100%);
}

/* Mostly for arrow icon to close the drawer menu */
.drawerMenuIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.drawerMenu a {
  width: 100% ;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  transition-duration: 300ms;
  border-radius: 8px;
}

.drawerMenu a:hover {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {

  .overlay {
    display: none;
  }

  .drawerMenu {
    width: 100%;
    right: -100%;
  }

  .drawerMenuActive {
    transform: translateX(-100%);
  }

  .drawerMenuInactive {
    transform: translateX(100%);
  }

}