.drawable {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: var(--secondary);
  transition-duration: 300ms;
  padding: 1rem;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.open {
  transform: translate(0, 0);
}

.closed {
  transform: translate(100%, 0);
}

.filterButton {
  position: fixed;
  top: 20vh;
  right: 0;
  padding: 0.5rem;
  color: white;
  background-color: black;
  border: 0;
  outline: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  z-index: 999;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .drawable {
    display: none; 
  }

  .filterButton {
    display: none;
  }
}