.wrapper  {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.label {
  font-weight: 500;
  font-size: 0.8rem;
}

.label::first-letter {
  text-transform: uppercase;
}

.requiredStar {
  color: red;
}

.labelDisabled:hover {
  cursor:not-allowed;
}

.labelError {
  color: var(--error);
}

.input {
  border: 0;
  border-bottom: 1px solid var(--primary);
  background: none;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0 0 0.2rem 0;
}

.input:focus {
  border-bottom: 1px solid var(--primary);
}

.input:disabled {
  color: var(--disabled);
  border-bottom: 1px solid var(--disabled);
}

.input:disabled:hover {
  cursor: not-allowed;
}

.inputError {
  color: var(--error);
  border-bottom: 1px solid var(--error);
}


/* Icon */
.inputIcon {
  width: 30px;
  height: 30px;
  z-index: 999;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1.4rem;
  right: 0;
}

.inputIcon:hover {
  cursor: pointer;
}

.errorText {
  color: var(--error);
  font-size: 0.6rem;
}

.errorText::first-letter {
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .label {
    font-size: 1.2rem;
  }

  .input {
    background: none; 
    font-size: 1rem;
  }
}

@media only screen and (max-width:480px) {
}