.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 500ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.overlayInactive {
  opacity: 0;
  transition-duration: 500ms;
  z-index: -100 !important;
}

.overlayActive {
  opacity: 1;
  transition-delay: 100ms;
  z-index: 9999999;
}

.modal {
  /* width: 90vw;
  height: 90vh; */
  overflow: scroll;
  border-radius: 1rem;
  background-color: var(--secondary);
  overscroll-behavior: contain;
}

/* Modal sizes */
.screen {
  width: 90vw;
  height: 90vh;
}

.fitContent {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}