/* ---------- Navbar -------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  transition-duration: 500ms;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid transparent;
}

/* ---------- Navbar not fixed ----------- */
.navbarNotFixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  transition-duration: 500ms;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.18) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.navbarLogo {
  width: 23%;
}

/* ---------- Navbar links list ------------- */
.navbarList {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  list-style: none;
  gap: 2.5rem;
  width: 30%;
}

.navbarLink {
  border-bottom: 2px solid transparent;
  padding: 0 0 0.25rem 0;
  transition-duration: 400ms;
}

.navbarLink:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* ----------- Navbar icons -------------- */
.navbarButton{
  background: none;
  border: none;
  color: inherit;
  transition-duration: 400ms;
}

.navbarButtonIcon {
  height: 1.4rem;
  width: 1.4rem;
  background: none;
  cursor: pointer;
  color: inherit;
}

@media only screen and (max-width: 767px) {
  .midLinks {
    display: none !important;
  }

  .navbarList {
    gap: 1rem;
  }
}


