.container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.3rem;
  border: 1px solid var(--primary);
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--secondary);
  font-size: inherit;
  z-index: 2;
  transition-duration: 300ms;
}

.button {
  border: 0;
  outline: 0;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.icons {
  width: 25px;
  height: 25px;
}

.input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: var(--secondary);
}

.inputFocused {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Suggestions container */
.suggestionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 250px;
  transition-duration: 200ms;
  animation-name: slide;
  animation-duration: 400ms;
  z-index: 1;
  background-color: var(--secondary);
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: scroll;
  padding: 0.5rem 1rem;
  color: black;
}

.suggestionsContainer:hover {
  display: flex;
}

.suggestionsTitle {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.loading {
  gap: 2rem;
}

.productLink {
  padding: 0.2rem 0 0 0.5rem;
  font-size: 0.8rem;
  color: grey;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}