.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
  padding: 10px 15px;
  border: 0;
  border-radius: 0.25rem;
  transition-duration: 300ms;
}

.button:hover {
  background-color: black;
  color: white;
}