.select {
  padding: 0.45rem 0.8rem;
  border-radius: 10px;
  font-size: 0.7rem;
  font-family: inherit;
  background-color: var(--secondary);
  border: 1px solid grey;
  padding-right: 2rem;
}

.select:focus {
  outline: 0;
}
