.banner {
  height: 90vh;
  width: 100vw;

  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;

  overflow: hidden;
}

.bannerSlidesContainer {
  display: flex;
  height: 100%;
}

.bannerSlide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;

  position: relative;
}
