/* Cart */

.cartTitle {
  text-align: center;
  font-size: 2.5rem;
  margin: 3.125rem 0 2.5rem 0;
}

.cartContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Product list */

.cartProductList,
.cartDeliverySummary,
.cartPaymentSummary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0.5rem;
  padding: 1rem;
  width: 50vw;
  height: 75vh;
  background-color: #fceed7;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 #f9a826;
  overflow-y: scroll;
}

.cartProductSummary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.cartProductPicture {
  width: 96px;
  height: 96px;
  border-radius: 1rem;
  background-color: black;
}

.cartProductFirstCol {
  width: 10vw;
}

.cartProductMidCol {
  width: 20vw;
  word-break: break-all;
}

.cartProductLastCol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 10vw;
}

.cartProductName {
  font-weight: bold;
  margin-bottom: 1rem;
}

.cartProductDescription,
.cartSuccessRight {
  width: 25vw;
}

.cartProductPrice {
  color: #659b5e;
}

.cartProductQuantity {
  display: flex;
  align-items: center;
}

/* Total */

.cartProductTotal {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem;
  padding: 1rem;
  width: 25vw;
  height: 25vh;
  background-color: #fceed7;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 #f9a826;
}

.cartProductTotalSummary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.cartProductTotalRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.cartProductTotalTitle {
  font-weight: bold;
  font-size: 24pt;
}

.cartProductTotalQuantity {
  font-weight: bold;
  color: #f9a826;
}

.cartProductTotalTitleVat,
.cartProductTotalQuantityVat {
  color: gray;
  font-size: 10pt;
}

/* Delivery */

.cartDeliveryRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem;
}

/* Payment */

.cartDeliveryForm {
  width: 20vw;
}

/* Success */

.cartSuccessSummary {
  width: 50vw;
  background-color: #fdfbf8;
  border-radius: 1rem;
  margin: 0.5rem;
}

.cartSuccessHead {
  margin-bottom: 1rem;
}

.cartSuccessDiv {
  padding: 1rem;
}

/* Others */

.cartError {
  color: red;
  width: 5vw;
  font-size: 10pt;
}

.cartButtonAction {
  background-color: transparent;
  border: 0;
  padding: 0.5rem;
}

.cartButtonSubmit {
  background-color: #f9a826;
  color: white;
  width: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 4px 4px #00000044;
  font-size: 16pt;
}

.cartIcons {
  width: 1rem;
  height: 1rem;
}