* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: black;
  --secondary: #F6F6F6;
  --grey: #bababa; 
  --error: rgb(183, 0, 0);
  --disabled: rgb(165, 165, 165); 
  --light-grey: rgb(203, 203, 203); 
}

html,
body {
  width: 100%;
  font-size: calc(15px + 0.390625vw);
  font-weight: 300;
  scroll-behavior: smooth;
  background-color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

input,
button,
div {
  font-family: inherit;
}
input:hover, label:hover {
  cursor: pointer;
}

input:focus {
  border: 0;
}

/* Class for full size banner */
.fullWidthCarousel {
  height: 90vh;
  width: 100vw;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

/* ----------- Navbar style when scroll down  ------------- */
.navbarBackground {
  font-weight: 500 !important;
  background: rgba(255, 255, 255, 0.18) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.navbarBackground > ul {
  color: black;
}

.navbarBackground > .navbarLogo {
  color: black;
}

@media only screen and (max-width: 767px) {
  .fullWidthCarousel {
    height: 35vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  html, body {
    overflow-x: hidden; 
  }
} 


