* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: rgb(237, 186, 119);
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; Hide horizontal scrollbar */
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}





.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {

  background-color: grey;
}

.one {
  background-color: grey;
}

.two {
  background-color: green;
}

.three {
  background-color: blue;
}
