/* Popular products */

.popularProductsContainer {
  margin: 3rem 0 5rem 0;
}

.popularProductsTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0rem 0 2rem 0; 
}

.popularProductsList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem; 

  height: fit-content;
  padding: 0 1.5rem;
  overflow-x: scroll;
}

/* Categories */
.categoriesContainer {
  margin: 5rem 0;
}

.categoriesTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

/* ----------------- Customers reviews ---------------------*/
.customerReviewsContainer {
  margin: 5rem 0; 
}

.customerReviewsContainer h1, .customerReviewsContainer h2 {
  text-align: center;
  font-weight: 300;
}

.customerReviewsContainer h1 {
  font-size: 2rem;
  font-weight: 300;
}

.customerReviewsContainer h2 {
  margin: 1.7rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

/* --------- Mobile phones and tablet ---------- */
@media only screen and (max-width: 767px) {
  .popularProductsTitle {
    font-size: 1.5rem;
  }

  .categoriesTitle {
    font-size: 1.5rem;
  }

  .popularProductsList {
    overflow-y: visible;
  }

  .customerReviewsContainer h1 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .customerReviewsContainer h2 {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 300;
  }
}
