/* Popular products */

.popular-products__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 3.125rem 0 2.5rem 0; 
}

.popular-products__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2rem; 

  overflow: scroll;
  margin: 0 0 0 30px;
  border-radius: 15px 0 0 15px;
  padding: 0 0 20px 0; 
}

.popular-products__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto; 
  padding: 10px 15px; 
  border: 0;
}



/* Categories */
.categories__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 5rem 0 2.5rem 0;
}

.categories__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  width: fit-content; 
  margin: 0 auto; 
}

.categories__container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem; 
  border-radius: 10px;
  height: 11rem;
  width: 20rem;
  background-color: rgb(193, 193, 193); 
  transition-duration: 300ms; 
  font-size: 1.3rem; 
  font-weight: 300;
}

.categories__container div > button {
  border: 0px; 
  padding: 10px 6px;
  border-radius: 10px; 
}

.categories__container div:hover {
  transform: scale(1.15); 
  background-color: grey; 
  z-index: 10; 
  cursor: pointer;
}

/* ----------------- Customers reviews ---------------------*/

.customer-reviews-container h1, .customer-reviews-container h2 {
  text-align: center;
  font-weight: 300;
}

.customer-reviews-container h1 {
  font-size: 2rem;
  font-weight: 300;
}

.customer-reviews-container h2 {
  margin: 1.7rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}
