/* Popular products */
.popularProductsTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 3.125rem 0 2.5rem 0; 
}

.popularProductsList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2rem; 

  overflow: scroll;
  margin: 0 0 0 30px;
  border-radius: 15px 0 0 15px;
  padding: 0 0 20px 0; 
}

.popularProductsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto; 
  padding: 10px 15px; 
  border: 0;
}

/* Categories */
.categoriesTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 5rem 0 0 0;
}

/* ----------------- Customers reviews ---------------------*/

.customerReviewsContainer h1, .customerReviewsContainer h2 {
  text-align: center;
  font-weight: 300;
}

.customerReviewsContainer h1 {
  font-size: 2rem;
  font-weight: 300;
}

.customerReviewsContainer h2 {
  margin: 1.7rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}
