/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 100;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  transition-duration: 500ms;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid transparent;
}


.navbarList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2.5rem;
}

.navbarLink {
  border-bottom: 2px solid transparent;
  padding: 0 0 0.25rem 0;
  transition-duration: 200ms;
}

.navbarLink:hover {
  border-bottom: 2px solid white;
}

.navbarButton{
  background: none;
  border: none;
}

.navbarButtonIcon {
  height: 1.4rem;
  width: 1.4rem;
  background: none;
  color: white;
  cursor: pointer;
}
