/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  padding: 2.5rem 2.5rem 1rem 2.5rem;
  font-size: 2.7rem;
  position: fixed;
  top: 0; 
  left: 0; 
  color: white;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 4rem;
}

nav > ul a {
  border-bottom: 2px solid transparent;
  padding: 0 0 0.5rem 0;
  transition-duration: 200ms;
}

nav > ul a:hover {
  border-bottom: 2px solid white;
}

nav > ul > button {
  background: none;
  border: none;
}

.navbar__icons {
  height: 3rem;
  width: 3rem;
  background: none;
  color: white;
  cursor: pointer;
}