.main {
  margin: 0 0 10vh 0;
  height: 100% ;

  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.indexProducts {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  position: relative;
  padding-left: 2.5%;
  margin: 0 auto 1rem auto;
}
.indexProducts span{
  width: 19.5%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

/* Filter menu / products container */
.content {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
}

.productsContainer {
  width: 80%;
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  grid-row-start: auto;
}

@media only screen and (max-width: 767px) {
  .input {
    width: 80%;
  }

  .filterBadgesContainer {
    width: 80%;
  }

  .filterMenu {
    display: none;
  }

  .productsContainer {
    width: 100%;
  }
}